head{
	font-family: Arial;
}

.centered {
    text-align: center;
}

body {
    font-family: Arial; 
}

.container {
}

.left_column {
  width: 60%;
  float: left;
  min-height: 400px;
}

.right_column {
  width: 40%;
  float: right;
  min-height: 400px;
}

#frame {
    width: 550px;
    height: 700px;
}

line{
    stroke: hotpink;
    stroke-width: 2px;
}

circle {
    fill: black;
}

circle:hover {
    fill: lightpink;
}

.grid {
  stroke: hotpink;
  stroke-width: 0.5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  background-color: lightpink;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.button {
  display: inline-block;
}
